*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #c7c7c7;
    font-family: 'Arial', Times, serif;
    color: black;
}

header .barra_topo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
header .logotipo{
    text-align: center;
    justify-content: center;
    color: blue;
    font-size: 30px;
}
header nav a{
    text-decoration: none;
    color: black;
    margin-right: 5px;
    padding: 10px;
    cursor: pointer;
    transition: .10s ease all;
}
header nav a:hover{
    background-color: rgb(199, 199, 199);
    font-size: 17px;
}
.barra_topo{
    padding: 10px;
    background-color: rgb(211, 211, 211);
}
.btn_topo{
    margin: 15px;
    background: none;
    border: none;
    font-weight: bold;
}

.conteudo_entrada{
    text-align: center;
    font-weight: bold;
}
.dados_competidor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.entrada_informacao{
    padding: 15px;
}
.entrada_informacao hr{
    border-color: black;
}

.caixa_de_texto{
    text-align: center;
    border-style: solid;
    padding: 4px;
    border-radius: 5px;
    background-color: darkgrey;
}
.caixa_de_texto.dados_certos{
    border-color: rgb(0, 0, 0);
}
.caixa_de_texto.dados_certos.caixa_idade{
    width: 50px;
}
.caixa_de_texto.erro_dados{
    border-color: rgb(199, 5, 5);
}
.caixa_de_texto.erro_dados.caixa_idade{
    width: 50px;
}

.btn_enviar{
    background-color: rgb(165, 165, 165);
    border-color: rgb(0, 0, 0);
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}
.btn_enviar:hover{
    background-color: rgb(3, 116, 18);
    font-size: 14px;
}

.mensagem_inscricao{
    border-style: solid;
    border-radius: 5px;
    width: 169px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: -173px;
    text-align: center;
}
.mensagem_inscricao.mensagem_de_erro{
    border: rgb(204, 51, 51);
    border-style: solid;
    background-color: rosybrown;
    color: rgb(199, 5, 5);
}
.texto_de_erro{
    color: rgb(199, 5, 5);
}
.mensagem_inscricao.categoria{
    border: rgb(3, 116, 18);
    border-style: solid;
    background-color: rgb(7, 195, 32);
}

.lista{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
}
.tabela_classificacao{
    background-color: darkgrey;
}
.infantil{
    margin-left: 3%;
    margin-right: 3%;
}

.adolescente{
    margin-left: 3%;
    margin-right: 3%;
}

.adulto{
    margin-left: 3%;
    margin-right: 3%;
}
