@media screen and (max-width:700px){
    .entrada_informacao h1{
        text-align: center;
    }
    .dados_competidor{
        flex-direction: column;
    }
    .mensagem_inscricao.mensagem_de_erro{
        margin: 0;
    }
    .mensagem_inscricao.categoria{
        margin: 0;
    }

    .lista{
        flex-direction: column;
        text-align: center;
    }
    .infantil{
        display: flex;
        justify-content: center;
        margin: 0;
        margin-bottom: 10px;
    }
    .adolescente{
        display: flex;
        justify-content: center;
        margin: 0;
        margin-bottom: 10px;
    }
    .adulto{
        display: flex;
        justify-content: center;
        margin: 0;
        margin-bottom: 10px;
    }
}
